@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
    --font-montserrat: Montserrat, "sans-serif";
    --color-primary: #76D900;
    --color-secondary: #B9FF66;
    --color-dark: #191A23;
    --color-gray: #808080;
    --color-gray-light: #FAFAFA;
  }
